<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/invalid.css"> 
    <title>Foodfy</title>
  </head>
  <body>
    <div class="invalid">
      <div class="img-invalid">
        <img src="/image/invalid.jpg" alt="https://www.freepik.com/vectors/food">
      </div>
      <div class="titles-invalid">
        <p>Não é possível deletar o cadastro pois o(a) chef possui receitas vinculadas a ele(a)</p>
        <a href="/admin/chefs">Voltar para a listagem</a>
      </div>
    </div>
  </body>
</html>