{% extends './layout.njk'%}

{%block conteudo%}
    <h1>Esqueceu a Senha?</h1>
<form action="/forgot-password" method="post">
      <div class="item-form">
        <div>Email</div>
        <input required type="text" name="email" placeholder="Digite seu email para recuperar sua senha" value={{user.email}}>
        <button type="submit" class="forgot-password recuperation-button">Recuperar</button>
      </div>  
</form>
  {%endblock%}