{% extends './layout.njk'%}

{%block conteudo%}
    <h1>Nova Senha</h1>

    <form action="/new-password" class="form login" method="POST">
      <div class="item-form">
        <div>Email</div>
        <input required type="text" name="email" placeholder="Digite seu email" value={{user.email}}>
      </div>

       <div class="item-form">
        <div>Nova senha</div>
        <input required type="password" name="password" placeholder="Digite sua nova senha">
      </div>

      <div class="item-form">
        <div>Repetir senha</div>
        <input required type="password" name="passwordRepeat" placeholder="Repita a nova senha">
      </div>

      <input type="hidden" name="token" value={{token}}>

      <button class="forgot-password" type="submit">Nova Senha</button>
    </form>
  {%endblock%}